.loading-skeleton {
  &__item {
    --padding-start: var(--space-4);
    --inner-padding-end: var(--space-4);
    margin-bottom: var(--space-1);
  }

  &__avatar {
    width: 2.75rem;
    height: 2.75rem;
  }

  &__line {
    &--title {
      width: 60%;
      height: 0.875rem;
      margin-bottom: var(--space-2);
    }

    &--subtitle {
      width: 40%;
      height: 0.75rem;
    }
  }
}
