@use 'theme/mixins' as *;

.list-item {
  --padding-start: var(--space-4);
  --inner-padding-end: var(--space-4);

  &__label {
    margin: var(--space-3) 0;
  }

  &__title {
    @include type-body-lg;
    color: var(--color-on-surface);
    margin: 0 0 var(--space-1);
  }

  &__subtitle {
    @include type-body-sm;
    color: var(--color-on-surface-variant);
    margin: 0;
  }

  &__meta {
    @include type-label;
    color: var(--color-on-surface-variant);
    align-self: center;
  }
}
