@use 'theme/mixins' as *;

.toggle-field {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
  margin-bottom: var(--space-2);

  &__label {
    @include type-body-lg;
    color: var(--color-on-surface);
  }

  &__description {
    @include type-body-sm;
    color: var(--color-on-surface-variant);
    margin: var(--space-1) 0 0;
  }
}
